/* Variables */
$font-sig: 'Signika', sans-serif;
$font-inc: 'Inconsolata', monospace;
/* color: blue */
$color-one: #0097e6;
/* color: green */
$color-two: #33d9b2;
/* color: red */
$color-three: #ff5252;
/* color of text on blue background */
$blue-bg-txt: #ffffff;
/* color of the text on white background */
$white-bg-txt: #2c2c54;
/* Global */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-inc;
  font-size: 16px;
  line-height: 1.7;
  font-family: $font-inc;
  color: $white-bg-txt;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 1140px;
  padding: 0 20px;
}

.section {
  padding: 96px 0;
}
/* Navigation */
div .container {
  background-color: #0097e6;
  padding: 12px 0;
}

div .container.navigation {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

div .container.navigation li {
  display: inline-block;
  margin: 0 36px 0 0;
  position: relative;
}

div .container.navigation a {
  text-decoration: none;
  color: #FFFFFF;
}
/* unvisited link */
a:link {
  color: green;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: red;
}

/* selected link */
a:active {
  color: yellow;
}
